<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <script>
    window.addEventListener("DOMContentLoaded", function (e) {
      var error = "";
      var info = "";
      if (error) {
        var errorMessage = document.createElement("div");
        errorMessage.className = "error-message";
        errorMessage.innerHTML = error;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(errorMessage);
      } else if (info) {
        var infoMessage = document.createElement("div");
        infoMessage.className = "info-message";
        infoMessage.innerHTML = info;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(infoMessage);
      }
    });
  </script>
</head>

<body>
  <div>
    <div id="main" class="content-container">
      <div class="row-view">
        <div class="logo-container">
          <img alt="Brand" src="/images/19Labs_logo.svg" class="logo-svg">
        </div>
        <div class="page-header">New Profile</div>
        <form id="profile-form" action="data/profile" method="post">
          <div class="column-view">
            <div>
              <div class="input-label-container">
                <label class="input-label">First name</label>
                <input class="text-input" type="text" name="firstName" />
              </div>
              <div class="input-label-container">
                <label class="input-label">Last name</label>
                <input class="text-input" type="text" name="lastName" />
              </div>
              <div class="input-label-container">
                <label class="input-label">Date of birth</label>
                <input class="text-input" type="date" name="dob" />
              </div>
            </div>
            <div>
              <div class="input-label-container" >
                <label for="gender" class="input-label">Gender</label>
                <select name="gender" id="gender" reqired="false" class='text-input'>
                  <option value="unknown">Not Specified</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="input-label-container">
                <label class="input-label">Email address <i>(optional)</i></label>
                <input class="text-input" type="text" name="email" />
              </div>
              <div class="input-label-container">
                <label class="input-label">Phone number <i>(optional)</i></label>
                <input class="text-input" type="text" name="phoneNumber" />
              </div>
            </div>
          </div>
          <div class="account-footer">
            <button class="default-button" type="submit">Create Profile</button>
          </div>
        </form>
        <div class="row-view">
          <label>Already have a profile?</label>
          <a class="default-link" href="/home">Select Profile</a>
        </div>
      </div>
      <div class="logout-container">
        <button class="logout-button" type="button" onclick="logout()">Log Out</button>
      </div>
    </div>
    <div id="spinner" class="page-centered" style="display: none;"><img src="/images/loader.gif" /></div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

<script src="/scripts/client.js"></script>

</html>