<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {patient: patient}); %>
    <script>
      window.addEventListener("DOMContentLoaded", function (e) {
        var error = "";
        var info = "";
        if (error) {
          var errorMessage = document.createElement("div");
          errorMessage.className = "error-message";
          errorMessage.innerHTML = error;
          var accountMessages = document.getElementById("account-messages");
          accountMessages.appendChild(errorMessage);
        } else if (info) {
          var infoMessage = document.createElement("div");
          infoMessage.className = "info-message";
          infoMessage.innerHTML = info;
          var accountMessages = document.getElementById("account-messages");
          accountMessages.appendChild(infoMessage);
        }
      });
      window.onload = function () {
        const observations = <%- JSON.stringify(measurementHistory) %>;
        const startTime = window.startTime
        const historyTime = window.historyTime
        if (startTime && startTime === historyTime) {
          const sortedObservations = observations.sort((a, b) => a.timecomparitor - b.timecomparitor)
          uploadObservations(sortedObservations)
        }

      }
    </script>
</head>

<body>
  <section id="middle">
    <p class="list-header">1. Complete a Workup</p>
    <ol class="sensor-grid">
      <li class="sensor card">
        <a href="#gale:sensor/Blood Pressure Monitor">
          <img src="/images/ic_blood_pressure.svg" />
          <div>
            <h4>Measure Blood Pressure</h4>
            <gale-sensor-output id="blood-pressure-measurement" type="Blood Pressure Monitor">No Data Recorded
            </gale-sensor-output>
          </div>
        </a>
      </li>
      <li class="sensor card">
        <a href="#gale:sensor/Pulse Oximeter">
          <img src="/images/ic_pulse_ox.svg" />
          <div>
            <h4>Measure Pulse Oximeter</h4>
            <gale-sensor-output id="pulseox-measurement" type="Pulse Oximeter">No Data Recorded</gale-sensor-output>
          </div>
        </a>
      </li>
      <li class="sensor card">
        <a href="#gale:sensor/Weight Scale">
          <img src="/images/ic_weight.svg" />
          <div>
            <h4>Measure Weight</h4>
            <gale-sensor-output id="weight-scale-measurement" type="Weight Scale">No Data Recorded
            </gale-sensor-output>
          </div>
        </a>
      </li>
      <li class="sensor card">
        <a href="#gale:sensor/Thermometer">
          <img src="/images/ic_thermometer.svg" />
          <div>
            <h4>Measure Temperature</h4>
            <gale-sensor-output id="thermometer-measurement" type="Thermometer">No Data Recorded</gale-sensor-output>
          </div>
        </a>
      </li>
    </ol>
    <div class="column-view">
      <p class="list-header">2. Visit a Provider</p>
      <p class="list-header">3. Submit Data</p>
    </div>
    <ol class="sensor-grid">

      <li class="clinic card">
        <a href="/intake">
          <img src="/images/ic_video_call.svg" />
          <h4>Start a Visit</h4>
        </a>
      </li>
      <li class="sensor card" onclick="navigateToVisitSummary()">
        <img src="/images/ic_intake.svg" />
        <div>
          <h4>View and Upload Summary</h4>
          <gale-sensor-output type="">No Data Uploaded</gale-sensor-output>
        </div>
        </a>
      </li>
    </ol>
  </section>
  <div>
    <div id="main" class="content-container">
      <%- include('./partials/sideMenu', {patient: patient}); %>
    </div>
    <div id="spinner" class="page-centered" style="display: none;"><img src="/images/loader.gif" /></div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>