<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('./partials/head'); %>
  <script>
    window.addEventListener("DOMContentLoaded", function (e) {
      var error = "";
      var info = "";
      if (error) {
        var errorMessage = document.createElement("div");
        errorMessage.className = "error-message";
        errorMessage.innerHTML = error;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(errorMessage);
      } else if (info) {
        var infoMessage = document.createElement("div");
        infoMessage.className = "info-message";
        infoMessage.innerHTML = info;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(infoMessage);
      }
    });

    function filterPatients(filterText) {
      // Declare variables
      let filter, table, li, a, i, txtValue;
      filter = filterText.toUpperCase();
      table = document.getElementById("select-profiles-table");
      buttons = table.getElementsByTagName('button');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < buttons.length; i++) {
        txtValue = buttons[i].getElementsByTagName('b')[0].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          buttons[i].style.display = "";
        } else {
          buttons[i].style.display = "none";
        }
      }
    }
  </script>
</head>

<body>
  <div>
    <div id="main" class="content-container">
      <div class="row-view">
        <div class="logo-container">
          <div style="display:none">
            <%= user.name %>
          </div>
          <div style="display:none">
            <%= user.email %>
          </div>
          <img alt="Brand" src="/images/19Labs_logo.svg" class="logo-svg">
        </div>
        <div class="page-header">Select a Profile</div>
        <div class="input-label-container">
          <input class="search-text-input text-input" type="text" name="username"
            oninput="filterPatients(this.value)" />
        </div>
        <div>
          <table id="select-profiles-table" class="profile-table">
            <% for (var i=0; i < patients.length; i++) { %>
              <tr>
                <td>
                  <button class="patient-row-button" onclick="navigateToDashboard('<%-patients[i].id %>')">
                    <b>
                      <%= patients[i].name[0].given %>
                        <%= patients[i].name[0].family %>
                    </b>
                    <span>
                      <%= patients[i].birthDate %>
                    </span>
                  </button>
                </td>
              </tr>
              <% } %>
          </table>
          <% if (patients.length < 1) { %>
            <p>Search to see profiles</p>
            <% } %>
        </div>
        <div class="account-footer">
          <button class="default-button" type="button" onClick="navigateToCreateProfile()">+ New Profile</button>
        </div>
      </div>
      <div class="logout-container">
        <button class="logout-button" type="button" onclick='logout()'>Log Out</button>
      </div>
    </div>
    <div id="spinner" class="page-centered" style="display: none;"><img src="/images/loader.gif" /></div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>
<script src="scripts/http.js"></script>
<script src="scripts/client.js"></script>

</html>