<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <script>
    window.addEventListener("DOMContentLoaded", function (e) {
      var error = "";
      var info = "";
      if (error) {
        var errorMessage = document.createElement("div");
        errorMessage.className = "error-message";
        errorMessage.innerHTML = error;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(errorMessage);
      } else if (info) {
        var infoMessage = document.createElement("div");
        infoMessage.className = "info-message";
        infoMessage.innerHTML = info;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(infoMessage);
      }
    });
    
  </script>
</head>

<body>
  <div>
    <div id="main">
      <div id="content"></div>
      <div class="login" id="login-popup">
        <div id="account-messages"></div>
        <div class="content-container">
          <form class="account-form" id="login-form" action="/auth/cognito" method="post">
            <div class="logo-container">
              <img alt="Brand" src="/images/19Labs_logo.svg" class="logo-svg">
            </div>
            <div class="page-header">Log in</div>
            <div class="input-label-container">
              <label class="input-label">Username</label>
              <input class="text-input" type="text" name="username" />
            </div>
            <div class="input-label-container">
              <label class="input-label">Password</label>
              <input class="text-input" type="password" name="password" />
            </div>
            <div class="account-footer">
              <button class="default-button" type="submit" onclick="enableSpinner()">Log In</button>
              <div class="row-view text-medium">
                <label>Don't have an account?</label>
                <a class="default-link" href="/CreateAccount">Create an Account</a>
              </div>
              <div class="row-view text-medium" id="info" style="display:none">
                Working
              </div>
              <div class="row-view text-medium error" id="error">
               <%- error.message %>
              </div>
            </div>
          </form>
        </div>
        <div id="spinner" class="page-centered" style="display: none;"><img src="/images/loader.gif" /></div>
      </div>
    </div>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
</body>

<script src="scripts/http.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>