<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script>
    window.addEventListener("DOMContentLoaded", function (e) {
      var error = "";
      var info = "";
      if (error) {
        var errorMessage = document.createElement("div");
        errorMessage.className = "error-message";
        errorMessage.innerHTML = error;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(errorMessage);
      } else if (info) {
        var infoMessage = document.createElement("div");
        infoMessage.className = "info-message";
        infoMessage.innerHTML = info;
        var accountMessages = document.getElementById("account-messages");
        accountMessages.appendChild(infoMessage);
      }

    });

    window.onload = function(){
    $('#intake').on("submitsuccess",()=>{
      console.log("intake data submitted ")
      // navigate to the visit summary page so it will loaded when we return from the visit
      navigateToVisitSummary();
    })
    $('#intake').on("submitfail",(e)=>{
      console.log("intake data failed "+JSON.stringify(e))
    })
    console.log("is visit "+isVisit)
  }

    
  </script>
</head>

<body class="faded">
  <div>
    <div id="main" class="content-container">
      <div class="row-view">
        <button class="back-button" onclick="navigateToDashboard('<%-patient.id%>')">
          <img alt="Brand" src="/images/ic_arrow_left.svg" class="small-button-svg">
          Back
        </button>
        <div class="page-header indented">Enter Intake Questions</div>
        <gale-intake-form id="intake" class="indented">
          <form  >
          <div class="column-view">
            <div>
              <div class="input-label-container">
                <label class="input-label">Full name</label>
                <input class="text-input" type="text" name="fullName" value=' <%= patient.name[0].given %> <%= patient.name[0].family %>'</>
              </div>
              <div class="column-view space-between">
                <div class="input-label-container">
                  <label class="input-label">DOB</label>
                  <input class="date-input thin-input" type="date" name="dob" value='<%-patient.birthDate%>'/>
                </div>
                <div class="input-label-container">
                  <label class="input-label">Gender</label>
                  <select class="text-input thin-input" name="gender" value='<%-patient.gender%>'>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                    <option value="preferNotToSay">Prefer not to say</option>
                  </select>
                </div>
              </div>
              <div class="column-view space-between">
                <div class="input-label-container">
                  <label class="input-label">Height</label>
                  <div>
                    <input class="text-input very-thin-input" type="text" name="heightFt" placeholder="ft'" />
                    <input class="text-input very-thin-input" type="text" name="heightIn" placeholder='in"' />
                  </div>
                </div>
                <div class="input-label-container">
                  <label class="input-label">Weight</label>
                  <input class="text-input thin-input" type="text" name="weight" />
                </div>
              </div>
            </div>
            <div>
              <div class="input-label-container">
                <label class="input-label">List allergies</label>
                <input class="text-input" type="text" name="allergies" />
              </div>
              <div class="input-label-container">
                <label class="input-label">List medications</label>
                <input class="text-input" type="text" name="medications" />
              </div>
              <div class="input-label-container">
                <label class="input-label">List existing conditions</label>
                <input class="text-input" type="text" name="existingConditions" />
              </div>
            </div>
            <div>
              <div class="input-label-container">
                <label class="input-label">Do you get regular excercise?</label>
                <div class="radio-inputs centered">
                  <div class="centered">
                    <input id="exerciseYes" class="radio-input" type="radio" name="exercise" value="yes" />
                    <label class="radio-input-label" for="exerciseYes">yes</label>
                  </div>
                  <div class="centered">
                    <input id="exerciseNo" class="radio-input" type="radio" name="exercise" value="no" />
                    <label class="radio-input-label" for="exerciseNo">no</label>
                  </div>
                </div>
              </div>
              <div class="input-label-container">
                <label class="input-label">Approx # alchoholic drinks per week</label>
                <div class="radio-inputs centered">
                  <div class="centered">
                    <input id="alchoholicDrinks1-4" class="radio-input" type="radio" name="alchoholicDrinks"
                      value="1-4" />
                    <label class="radio-input-label" for="alchoholicDrinks1-4">1-4</label>
                  </div>
                  <div class="centered">
                    <input id="alchoholicDrinks5-8" class="radio-input" type="radio" name="alchoholicDrinks"
                      value="5-8" />
                    <label class="radio-input-label" for="alchoholicDrinks5-8">5-8</label>
                  </div>
                  <div class="centered">
                    <input id="alchoholicDrinks8+" class="radio-input" type="radio" name="alchoholicDrinks"
                      value="8+" />
                    <label class="radio-input-label" for="alchoholicDrinks8+">8+</label>
                  </div>
                </div>
              </div>
              <div class="input-label-container">
                <label class="input-label">Do you smoke?</label>
                <div class="radio-inputs centered">
                  <div class="centered">
                    <input id="smokeYes" class="radio-input" type="radio" name="smoke" value="yes" />
                    <label class="radio-input-label" for="smokeYes">yes</label>
                  </div>
                  <div class="centered">
                    <input id="smokeNo" class="radio-input" type="radio" name="smoke" value="no" />
                    <label class="radio-input-label" for="smokeNo">no</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-view">
            <div class="input-label-container">
              <label class="input-label">What is the main reason for this visit?</label>
              <textarea class="text-area" type="text-area" name="visitDetails"></textarea>
            </div>
            <button onclick="startVisit()" class="start-visit-button" type="submit">
              <!-- Currently hardcoded, yoink the first one from the clinic list below -->
              <gale-clinic-link name="<%= startClinicName %>"
                <img alt="Brand" src="/images/ic_clinics.svg" class="button-svg">
                <br />Start a <br /> Visit
              </gale-clinic-link>
            </button>
          </div>
        </form>
        </gale-intake-form>
        <div class='error'></div>
        <div style="display: none;">
          <gale-clinic-list>
            <template>
              {{name}}
            </template>
          </gale-clinic-list>
        </div>
      </div>
      <%- include('./partials/sideMenu', {patient: patient, user:user}); %>
    </div>
    <div id="spinner" class="page-centered" style="display: none;"><img src="/images/loader.gif" /></div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>