<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <script>
     function defaultValue(obj){
        return (obj === undefined) ? '' :obj
     }
     var intake={}
     var currentData={}
     window.onload = function(){
       bridge=window.bridge
       bridge.getIntake().then((result)=>{
        intake = JSON.parse(result)
        $('#weight').html("Weight: <b>"+intake.weight+"</b>")
        $('#height').html("Height: <b>" + intake.heightFt+" \'"+intake.heightIn+" \"</b>")
        $('#allergies').html("Allergies: <b>"+intake.allergies+"</b>")
        $('#medications').html("Medications: <b>"+intake.medications+"</b>")
        $('#conditions').html("Conditions: <b>"+intake.existingConditions+"</b>")
        $('#reason').html("Reason for this visit: <spanstyle='padding-left:2rem'><b>"+intake.visitDetails+"</b></span>")
        $('#smoke').html("Do you smoke?: <b>"+defaultValue(intake.smoke)+"</b>")
        $('#alcohol').html("# Alchoholic drinks/week: <b>"+defaultValue(intake.alchoholicDrinks)+"</b>")
        $('#exercise').thtml("Regular exercise:<b>"+ defaultValue(intake.exercise)+"</b>")
       })
      const startTime = window.startTime;
      bridge.getSensorData(startTime).then((result)=>{
          console.log("globals "+startTime+" session data:"+JSON.stringify(currentData))
      }) 
    }
   
  </script>
</head>


<body class="faded">
  <button class="back-button">
    <img src="/images/ic_arrow_left.svg" class="button-svg">
    Back
  </button>
  <div>
    <div id="main" class="content-container">
      <div >
        <form>
          <div class="row" >
            <div class="col-5">
              <div class="compressed-list-header">Measurements</div>
              <div class="measurement">
                <p>Blood Pressure</p>
                <gale-sensor-output type="Blood Pressure Monitor"><b>No Data Recorded</b></gale-sensor-output>
              </div>
              <div class="measurement">
                <p>Pulse Oximeter</p>
                <gale-sensor-output type="Pulse Oximeter"><b>No Data Recorded</b></gale-sensor-output>
              </div>
              <div class="measurement">
                <p>Weight</p>
                <gale-sensor-output type="Weight Scale"><b>No Data Recorded</b></gale-sensor-output>
              </div>
              <div class="measurement">
                <p>Temperature</p>
                <gale-sensor-output type="Thermometer"><b>No Data Recorded</b></gale-sensor-output>
              </div>
            </div>
            <div class="col-7">
              <div class="compressed-list-header">Patient Details</div>
              <p>Full Name: <b><%= patient.name[0].given %>  <%= patient.name[0].family %></b></p>
              <p>DOB: <b><%= patient.birthDate %></b></p>
              <p>Gender: <b><%= patient.gender %></b></p>
              <p id="height">Height: <b><%= patient.height %></b></p>
              <p id="weight">Weight: <b><%= patient.weight %></b></p>
              <p id="allergies">Allergies: <b></b></p>
              <p id="medications">Medications: <b></b></p>
              <p id="conditions">Conditions: <b></b></p>
              <p id="exercise">Regular exercise: <b></b></p>
              <p id="alcohol"># Alchoholic drinks/week: <b></b></p>
              <p id="smoke">Do you smoke?: <b></b></p>
              <p id="reason">Reason for this visit: <b></b></p>
            </div>
          </div>
          <div class="bottom-right-sidebar abs-bottom-margin">
            <button class="share-button" type="button" onclick="saveObservations()">
              <img alt="Brand" src="/images/ic_share_arrow.svg" class="button-svg">
              Save to EHR
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="spinner" class="page-centered" style="display: none;"><img src="/images/loader.gif" /></div>
  </div>
  <div>
    <div id="main" class="content-container">
      <%- include('./partials/sideMenu', {patient: patient}); %>
    </div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>