body {
  padding: 80px;
  padding-bottom: 0;
  font: 1.4rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #003544;
}

body::before {
  content: "";
  background-image: url(../images/yoga.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}

.error{
  color:red
}

.faded::before {
  opacity: 0.75;
}

body .users-column {
  display: inline-block;
  margin-right: 2.8rem;
  vertical-align: top;
}

body .users-column .column-header {
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 1.5rem;
}

body .add-user-col input {
  margin-bottom: 15px;
}

body .users-column .user-display-ele {
  padding-bottom: 15px;
}

body .users-column .user-display-ele button {
  margin-top: 4px;
  margin-bottom: 15px;
}

body .users-column .user-display-ele .edit-view {
  display: none;
}

.logo-svg {
  width: 20rem;
  height: 8.25rem;
  margin-left: -.375rem;
}

.button-svg {
  width: 3rem;
  height: 3rem;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.list-header {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-inline-end: 15rem;
}

.compressed-list-header {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-inline-end: 7rem;
}

a {
  text-decoration: none;
}


section#middle ol {
  width: 100%;
  justify-content: left;
  justify-items: left;
  margin-bottom: 5rem;
  list-style: none;
}

section#middle {
  margin-top: 4.2rem;
}

.sensor-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
}

ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.card {
  display: flex;
  flex-direction: row;
  min-width: 35.5rem;
  max-height: 8rem;
  margin-top: 0%;
  padding: 2rem;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex: 1;
  align-items: left;
  justify-content: left;
  list-style-type: none;
}

.card>a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card>a>div {
  padding-inline-start: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  color: black;
}

.card img {
  align-items: left;
  width: 4rem;
}

.card h4 {
  margin: 4px;
}

.clinic.card h4 {
  color: black;
  font-size: 1.75rem;
  padding-inline-start: 3rem;
}


gale-sensor-output {
  font-style: italic;
  color: #008d97;
}

.column-view {
  display: flex;
  flex-direction: row;
}

.row-view {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.centered {
  display: flex;
  align-items: center;
}

.indented {
  margin-left: 1.5rem;
}

.side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2.5rem;
}

.patient-summary-details {
  margin-bottom: 2rem;
}

/* Common Page elements */

.logo-container {
  margin-bottom: 3rem;
}

.logout-container {
  display: flex;
  justify-self: flex-end;
}

.page-header {
  font-size: 2.25rem;
  margin-bottom: 2.25rem;
}

.footer {
  position: absolute;
  bottom: 0;
  right:2rem;
}

.page-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-right-sidebar{
  position: absolute;
  bottom: 3rem;
  right: 30rem;
}

.side-menu-header {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.side-menu-item {
  margin: 0.5rem;
}

.side-menu-divider {
  width: 20rem;
  border: 1px solid #666;
}

.account-footer,
.input-label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.right-justified {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}

.input-label {
  font-size: 1.2rem;
  margin-bottom: 0.375rem;
}

.text-medium {
  font-size: 1.5rem;
}

.profile-table {
  display: block;
  max-height: 23.75rem;
  overflow-y: scroll;
}

/* Inputs */

.text-area {
  height: 12rem;
  width: 51.5rem;
  font-size: 1.75rem;
  border: 0.16rem solid #ccc;
  border-radius: 0.08rem;
  margin-right: 1.5rem;
  padding: 1rem;
  outline: none;
  resize: none;
  box-sizing: border-box
}

.text-input {
  height: 4rem;
  width: 25rem;
  background-color: #fff;
  font-size: 1.75rem;
  border: 0.16rem solid #ccc;
  border-radius: 0.08rem;
  margin-right: 1.5rem;
  padding: 0 1rem;
  outline: none;
  box-sizing: border-box
}

.search-text-input {
  width: 30rem;
  background: white url(../images/ic_search.svg) left no-repeat;
  background-size: 3rem 3rem;
  padding-left: 3rem;
}

.thin-input {
  width: 11.75rem;
}

.very-thin-input {
  width: 5.7rem;
  padding: 0 0.5rem;
  margin-right: 0;
}

.date-input {
  height: 4rem;
  font-size: 1.75rem;
  background-color: #fff;
  border: 0.16rem solid #ccc;
  border-radius: 0.08rem;
  margin-right: 1.5rem;
  padding: 0 0.2rem;
  outline: none;
  box-sizing: border-box
}

.radio-inputs {
  height: 4rem;
}

.radio-input {
  height: 2.25rem;
  width: 2.25rem;
}

.radio-input:checked {
  height: 2.25rem;
  width: 2.25rem;
}

.radio-input:before {
  content: '';
  display: block;
  width: 40%;
  height: 40%;
  margin: 15% auto;
  border-radius: 50%;
  border: 5px solid white;
}

.radio-input:checked:before {
  background: #008c97;
}

.radio-input-label {
  margin: 0 1rem 0 0.5rem;
}

/* Buttons */

.default-button {
  width: 15rem;
  height: 4.5rem;
  font-size: 2rem;
  border-radius: 0.375rem;
  border-width: 0;
  background-color: #008c97;
  color: white;
  margin: 1.5rem 0;
  cursor: pointer;
}

.share-button {
  margin-top: 1rem;
  width: 23rem;
  min-height: 5rem;
  font-size: 2rem;
  font-weight: 300;
  border-radius: 0.375rem;
  border-width: 0;
  background-color: #008c97;
  color: white;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 2rem;
  padding-left: 2rem;
}

.start-visit-button {
  width: 20rem;
  height: 12rem;
  font-size: 2rem;
  border-radius: 0.375rem;
  border: 0.16rem solid #008c97;
  background-color: #008c97;
  color: white;
  margin: 1.75rem 0;
  cursor: pointer;
  box-shadow: 3px 3px 5px #777;
}

.back-button {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 4rem;
  padding: 0;
  font-size: 1.5rem;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;
}

.back-button img {
  width: 1.5rem;
  height: 1.5rem;
}

.logout-button {
  font-size: 2rem;
  font-weight: 700;
  border-width: 0;
  background-color: transparent;
  color: #800000;
  cursor: pointer;
}

.patient-row-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 5rem;
  font-size: 1.5rem;
  border-width: 0;
  background-color: transparent;
  padding: 0 1rem;
  cursor: pointer;
}

.profile-tab-button {
  display: flex;
  width: 12.5rem;
  height: 5rem;
  text-align: start;
  font-size: 1.5rem;
  border-width: 0;
  background-color: transparent;
  padding: 0 1rem;
  cursor: pointer;
}

.selected {
  font-weight: 700;
}

.side-menu-logout-button {
  font-size: 2rem;
  font-weight: 700;
  border-width: 0;
  background-color: white;
  color: #800000;
  cursor: pointer;
  height: 5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  position:absolute;
  bottom:3rem;
  right:5rem;
  width:15rem;
}

.side-menu-button {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 5rem;
  font-size: 1.5rem;
  border-width: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.side-menu-button img {
  padding-right: 2rem;
  width: 2rem;
  height: 2rem;
}

.default-link {
  color: #008c97;
  text-decoration: none;
  margin: .75rem 0;
  width: fit-content;
}

.abs-bottom-margin{
  bottom:5rem;
}