<meta charset="UTF-8">
<title>FHIR</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<script type="module">
  import { GaleAPIBridge } from "https://unpkg.com/@19labs/gale-wellness/dist/dev/bridge.js"
  import { init } from "https://unpkg.com/@19labs/gale-wellness/dist/dev/dom.js"
  const bridge = new GaleAPIBridge({
       // add your API key here
      apiKey: "<%- galeApiKey %>",
      simulatorPort: 9393
    })

  var startTime = <% if(locals.startTime){ %> <%-startTime%> <% }else{ %>undefined<% } %> ;
  var historyTime = <% if(locals.historyLoadedTime){ %> <%-historyLoadedTime%> <% }else{ %>undefined<% } %> ;
  
  init(bridge,startTime)
  bridge.listen('sessionchange', () =>{
    window.location.href = "/auth/endPatientSession";
  })

  // expose globals
  window.bridge = bridge
  if (startTime){
    window.startTime = startTime
  }
  if (historyTime){
    window.historyTime = historyTime
  }

</script>

<!-- CSS (load bootstrap from a CDN) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/scripts/http.js"></script>
<script src="/scripts/client.js"></script>
