<div class="side-menu">
    <p class="side-menu-header">Patient Summary</p>
    <div class="patient-summary-details">
        <p class="side-menu-item">Patient: <b>
                <%= patient.name[0].given %>
                    <%= patient.name[0].family %>
            </b></p>
        <p class="side-menu-item">DOB: <b>
                <%= patient.birthDate %>
            </b></p>
        <p class="side-menu-item">Gender: <b>
                <%= patient.gender %>
            </b></p>
        <p class="side-menu-item">Height: <b>
                <%= patient.height %>
            </b></p>
    </div>
    <hr class="side-menu-divider" />
    <p class="side-menu-header">Menu</p>
    <div class="user-details">
        <p class="side-menu-item">User: <b>
                <%= user.name %>
            </b></p>
    </div>
    <button class="side-menu-button" onclick="navigateToDashboard()">
        <img alt="Brand" src="/images/ic_measurements.svg">
        Patient Dashboard
    </button>
    <button class="side-menu-button" onclick="navigateToIntake()">
        <img alt="Brand" src="/images/ic_clinics.svg">
        Start a Visit
    </button>
    <button class="side-menu-button" onclick="navigateToSelectPatient()">
        <img alt="Brand" src="/images/ic_switch.svg">
        Switch Patient
    </button>
    <button class="side-menu-button" onclick="navigateToCreateProfile()">
        <img alt="Brand" src="/images/ic_add_outline.svg">
        New Patient
    </button>

    <button class="side-menu-logout-button abs-bottom-margin" onclick="logout()">Log Out</button>
</div>
<script src="/scripts/client.js"></script>